@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    overflow-x:hidden ;

}
footer, header{
    background-color: #000;
}
footer{
    color: #efefef;
    padding: 30px 0;
}
ion-icon {
    font-size: 30px;
    padding-left: 10px;
}
nav a{
    color: #fff;
    text-decoration: none;
}
nav li{
    list-style: none;
    padding: 20px;
    justify-content: center;
    align-items:center;
    margin: 0 8%;
}
a:hover{
    color: rgb(86, 229, 181);
}
.secondary a:hover{
    background-color: rgb(86, 229, 181);
    color: rgb(76, 77, 77);
}
.primary .container{
    margin-bottom:30px;
}
.primary .container, .secondary .container{
    border-bottom: dotted #0000004b;
}
.secondary .container{
    padding-bottom: 10px;
}
.secondary{
    margin-bottom:30px ;
}
.secondary a{
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgb(76, 77, 77);
    text-decoration: none;
    color: #fff;
}
.cim{
    background-color: #efefef;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 0 50px;
}
.fprimary{
    margin-left: 0 100000%;
}